@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

:root{
    --cor-fundo: #3a4b3a ;
    --cor-principal: #0e5545 ;
    --cor-secundaria: #2c9b31; 
    --cor-titulo: #e4e72c;
    --cor-texto: #ffffff;

}
*{
    font-size: 20pt;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url(img/brasil-territorio.png);
    background-repeat: no-repeat;

    background-position-y: bottom;
    background-position-x: right;

    background-size: 75%;
    backdrop-filter: blur(15px);

}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px var(--cor-secundaria);
}

h1{
    color: var(--cor-titulo);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 10px;
    font-weight: 200;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}